<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/gostovanja.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>Gostovanja</title>
</head>

<body>

    <header>
        <div>
            <a href="/"><img class="logo" src="/img/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Početna</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/gostovanja">Gostovanja</a></li>
                <li><a href="/o-nama">O nama</a></li>
                <li><a href="/naruci">Naruči</a></li>
            </ul>
        </nav>
        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </header>

    <main>
        <h1 class="main-header">Gostovanja</h1>
        <p class="tekst">Kako bismo doprli do što većeg broja ljudi, brzo proširili našu ideju, misiju i viziju,
            odlučili smo da stupimo u kontakt sa što više televizija i portala. Ovde možete pogledati i pročitati sve
            što smo rekli.</p>

        <section class="tv">
            <h1>Televizije</h1>

            <div class="single">
                <img src="/img/zona.bmp" alt="">
                <iframe src="http://www.youtube.com/embed/o5IGVxVbtVM"></iframe>
            </div>

            <div class="single">
                <img src="/img/rts.png" alt="">
                <iframe src="http://www.youtube.com/embed/yZBPsnjsH04"></iframe>
            </div>

            <div class="single">
                <img src="/img/ntv.jpg" alt="">
                <iframe src="https://www.youtube.com/embed/fxtGqzhn_hg"></iframe>
            </div>

            <div class="single">
                <img src="/img/belami.png" alt="">
                <iframe src="https://www.youtube.com/embed/-8S4nxv0rbA"></iframe>
            </div>
        </section>

        <section class="portali">
            <h1>Portali</h1>

            <div class="single">
                <a target="_blank"
                    href="https://www.nationalgeographic.rs/vesti/16545-niski-djaci-solarni-paneli-od-recikliranih-limenki.html">
                    <img src="/img/ngs.jpg" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://www.rts.rs/page/stories/sr/story/125/drustvo/4319662/limenke-solarni-panel-gimnazija-bora-stankovic-nis-uenici.html">
                    <img src="/img/rts.png" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://www.juznevesti.com/Drushtvo/Niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija.sr.html">
                    <img src="/img/jv.png" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://citysmart.media/vesti/obrazovanje-2/niski-gimnazijalci-osmislili-izum-koji-bi-mogao-da-smanji-zagadjenost/">
                    <img src="/img/citys.png" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank" href="https://www.tvzonaplus.rs/niski-ucenici-napravili-solarni-panel-od-limenki/">
                    <img src="/img/zona.bmp" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://www.vesti.rs/Nis/Niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija.html">
                    <img src="/img/vesti.png" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://naslovi.net/2021-03-29/juzne-vesti/niski-gimnazijalci-od-limenki-prave-solarne-panele-za-zagrevanje-prostorija/27605135">
                    <img src="/img/naslovi.png" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://www.energetskiportal.rs/niski-gimnazijalci-napravili-solarne-panele-od-limenki/">
                    <img src="/img/enpor.svg" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://niskiportal.rs/vest/209990201-04-202162248">
                    <img src="/img/np.png" alt="">
                </a>
            </div>

            <div class="single">
                <a target="_blank"
                    href="https://www.e2.rs/niski-gimnazijalci-od-limenki-prave-solarne-panele/">
                    <img src="/img/e2.png" alt="">
                </a>
            </div>
        </section>
    </main>

    <footer>
        <div class="mejl">ekolim.nis@gmail.com</div>
        <div class="c">
            <h5>© Ekolim | All rights deserved</h5>
        </div>
        <div class="ikonice">
            <a href="https://www.facebook.com/ekolim.rs"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/ekolim.rs/"><i class="fab fa-instagram-square"></i></a>
        </div>
    </footer>

    <script src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/eb6228f5a7.js" crossorigin="anonymous"></script>
</body>

</html>